.main-news-container {
  display: flex;
  gap: 15px;
}

.main-news {
  flex: 2;
  position: relative;
}

.main-news img {
  width: 100%;
  height: auto;
}

.main-news-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.other-news {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-item {
  display: flex;
  gap: 10px;
}

.news-item img {
  width: 70px;
  height: 70px;
}

.news-content h4 {
  margin: 0;
  font-size: 14px;
}

.news-content p {
  margin: 0;
  font-size: 12px;
}

  