/* QuickLinks.css
.quick-links {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  .quick-link {
    color: #1f8ef1;
    text-decoration: none;
    font-weight: bold;
  }
  
  .quick-link:hover {
    text-decoration: underline;
  } */
  