/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: background-color 0.3s ease;
}

.App-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  min-height: 30px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (min-width: 576px) {
  .container {
    max-width: 540px; 
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#menu-container {
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.App-footer {
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

main {
  padding: 20px;
}
