.secondary-card-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .secondary-card-container li {
    height: 195px;
    position: relative;
  }
  
  .secondary-card-container li + li {
    margin-top: 7.5px;
  }
  .secondary-card-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .secondary-card-headline {
    position: absolute;
    padding: 0 10px;
    bottom: 10px;
    width: 100%;
    color: white;
  }
  
  .secondary-card-headline h3 {
    font-size: 18px;
    font-weight: bold;
  }
  